.details{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.details:hover{
    background-color: blue;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.details:active{
    background-color: red;
    color:aqua;

}
.submit{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.submit:hover{
    background-color: blue;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.submit:active{
    background-color: red;
    color:aqua;

}   