p{
        font-family: Macado, cursive;
        margin-top: 0;
        margin-bottom: 0;
    }
    .video-title {
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 23px;
        margin-bottom: 0;
    }

    .video-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 2px;
        margin-bottom: 20px;
    }
    .channel-name {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 4px;
    }
    .video-description {
        font-size: 14px;
        color: rgb(33, 33, 33);
        margin-top: 12px;
        width: 300px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .shop {
        font-size: 14px;
        color: rgb(255, 255, 255);
        background-color: rgb(227, 65, 64);
        margin-top: 12px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
    }
    .example {
        font-size: 14px;
        transition: color 0.3s;
        margin-left: 5px;
    }
    .example:hover {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
    }
    .example:active {
        color: darkblue;
    }