p {
  font-family: Arial;
}

.title {
  font-size: 40px;
  margin-bottom: 25px;
}

input {
  display: block;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  width: 400px;
}

.destination-textbox {
  margin-bottom: 35px;
}

.request-button {
  background-color: black;
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  margin-right: 20px;
}
.request-button:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
}
.request-button:active {
  background-color: rgb(10, 10, 10);
}

.schedule-button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}
.schedule-button:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}
.schedule-button:active {
  background-color: rgb(200, 200, 200);
}