
            .thumbnail {
                width: 100%;
                height: auto;
                border-radius: 12px;
                text-align: center;
            }
            .video-channel{
                display: block;
                font-size: 14px;
                color: rgb(96, 96, 96);
                margin-bottom: 4px;
            }
            .video-stats {
                display: block;
                font-size: 14px;
                color: rgb(96, 96, 96);
            }
            .channel-photo{
                width: 36px;
                vertical-align: top;
                margin-top: 1px;
                display: inline-block;
            }
            .video-info{
                width: 200px;
            }
            .profile-pic{
                width: 40px;
                border-radius: 50%;
                margin-top: 8px;
                vertical-align: top;
                height: 40px;
                
            }
            .video-title {
                margin-top:0;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 2px;
            }
            .thumbnail-row {
                margin-bottom: 8px;
                position: relative;
            }
            .video-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
                column-gap: 12px;
            }
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 20px;
                row-gap: 40px;
            }
            @media (max-width: 750px) {
                .video-grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
            @media (min-width: 751px) and (max-width: 999px){
                .video-grid {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            @media (min-width: 1000px){
                .video-grid {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
            
            .video-time{
                position: absolute;
                bottom: 16px;
                right: 16px;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                padding: 2px 4px;
                font-size: 12px;
                border-radius: 2px;
                font-family: 'Roboto', Arial;
            }