.profile{
    border-radius: 100px;
    height: 30px;
    object-fit: cover;
    object-position: left;
    vertical-align: middle;
}
.tweet-button{
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        height: 34px;
        width: 65px;
        border-radius: 40px;
        cursor: pointer;
        margin-left: 8px;
        font-weight: bold;
        font-size: 14px;
        transition: box-shadow 0.3s, background-color 0.3s;
        padding-left: 10px;
        padding-right: 10px;
    }
    .tweet-button:hover{
        background-color: rgb(0, 126, 217);
        box-shadow: 0px 0px 8px rgba(0, 126, 217);
    }
    .tweet-button:active{
        background-color: rgb(0, 76, 143);
        opacity: 0.6;
    }
.text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    vertical-align: middle;
}
.text:focus{
    outline: none;
}
.text:hover{
    cursor: text;
    box-shadow: 0px 0px 8px grey;
    border-radius: 15px;
}