
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: gray;
            padding: 45px;
            display: flex;
            text-align: center;
             justify-content: center;
             flex-wrap: wrap;
        }
        .card{
            background-color: white;
            width: 198px; 
            border-radius: 7px;
            padding: 0 0 34px 0;
            margin: 4px;
        }
        
        .image{
            padding: 5px;
        }
        .image img{
            border-radius: 7px;
        }
        .content{
            padding: 7px 13px; 
        font-family: 'pacifico', cursive;
        }
       
        .content p{
            font-size: 9px;
            color: gray;
        }
        .capsules{
            padding: 0 28px 0 14px;
        }
        .capsules span{
            border: 1px solid gray;
            padding: 0px 6px;
            border-radius: 7px;
            font-size: 8px;
            font-family: pacifico, cursive;
            color: gray; 

        }
        .button{
            text-align: center;
        }
        .button button{
            padding: 7px 15px;
            border-radius: 15px;
            background-color: rgb(216, 236, 253);
            color: rgb(14, 150, 234);
            font-size: 10px;
            margin-top: 7px;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }

        .button button:hover{
            background-color: rgb(194, 225, 246);
            color: rgb(10, 136, 214);
        }
        .button button:active{
            background-color: rgb(62, 104, 132);
            color: rgb(10, 136, 214);
        }