.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    z-index: 8724878;
    padding-top: 8px;
    border-right: 1px solid rgb(202, 202, 202);
}
.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover {
    background-color: rgb(159, 158, 158);
    cursor: pointer;
}
.sidebar-link:active {
    background-color: rgb(121, 121, 121);
}
.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: 'Roboto', Arial;
    font-size: 10px;
    margin-top: 4px;
}