
            .thumbnail {
                width: 100%;
                height: auto;
                border-radius: 12px;
                text-align: center;
            }
            .video-channel{
                display: block;
                font-size: 14px;
                color: rgb(96, 96, 96);
                margin-bottom: 4px;
            }
            .video-stats {
                display: block;
                font-size: 14px;
                color: rgb(96, 96, 96);
            }
            .channel-photo{
                width: 36px;
                vertical-align: top;
                margin-top: 0px;
                display: inline-block;
            }
            .video-info{
                width: 200px;
            }
            .profile-pic{
                width: 36px;
                border-radius: 50%;
                margin-top: 8px;
                vertical-align: top;
            }
            .video-title {
                margin-top:0;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 4px;
            }
            .thumbnail-row {
                margin-bottom: 15px;
            }
            .video-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
                column-gap: 12px;
            }
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 20px;
                row-gap: 40px;
            }